@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff") format("woff");
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

* {
    box-sizing: border-box;
    font-family: "San Francisco", apple-system;
    color: black;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.masthead {
    background-color: rgba(245, 245, 245, 0.9);
    padding: 1rem 0;
}

.container {
    max-width: min(96%, 1140px);
    margin: 0 auto;
    /* to center the container horizontally */
}

.primary-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: rgba(127, 18, 141, 0.788);
    font-weight: bold;
    font-size: 1.25rem;
}

.nav-links li a:hover {
    color: rgba(127, 18, 141, 0.459);
}

main {
    flex: 1;
}

.container-grid {
    display: grid;
    gap: 1.5em;
    min-width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-grid {
    grid-template-columns: 1fr 1fr;
}

.item {
    border: 1px solid black;
    text-align: center;
}

.item-product{
    height: 450px;
    width: 450px;
}

.item-image img {
    width: 100%;
    height: auto;
}

.container-item {
    display: flex;;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
}

.btn-primary {
    background-color: rgba(255, 255, 255, 0.829);
    color: rgba(0, 0, 0, 0.9);
    border: solid 1px rgba(35, 64, 226, 0.829);
    border-radius: .4em;
    font-weight: lighter;
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 1em 1em 1em 1em;
}

.btn-primary:hover {
    background-color: rgb(35, 64, 226);
    color: white;
}

.btn:hover{
    cursor: pointer;
}

.main-footer {
    background-color: rgba(245, 245, 245, 0.9);
    padding: 1rem 0;
}

.footer-container{
    display: flex;
    justify-content: flex-start;
}

.footer-container p {
    margin: 0;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.6);
}