.container {
    width: 100%;
    max-width: 1140px;
    margin-inline: auto;
    padding-inline: 16px;
}

.container-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 2rem;
}

.container-instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-block: 2rem;

    border-radius: 0.9em;
    
    background: linear-gradient(180deg, rgba(216, 216, 216, 0.55), rgba(209, 209, 209, 0.35));
    backdrop-filter: blur(12px);
    
    border: 1px solid rgba(255, 255, 255, .12);
}

.container-instruction img {
    padding: 0 4rem 1.5rem 0
}

.container-item-text {
    display: flex;
    flex-direction: column;

    align-items: flex-start;

    gap: 0.8rem;

    margin-top: auto;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

.container-feedBack {
    width: 100vw;
    margin-inline: calc(50% - 50vw);
}