.grid {
    display: grid;
}

.grid-products {
    grid-template-columns: 1fr 1fr;

    gap: 3em;
}

.grid-instruction {
    grid-template-columns: 1fr 1fr;

    border-radius: 0.9em;
}

.grid-item {
    display: flex;
    flex-direction: column;

    position: relative;

    border-radius: 0.9em;

    text-align: left;
}

.grid-header {
    margin-block: 2rem 0;

    font-size: 2rem;
    align-self: center;
}
