.masthead {
    background: linear-gradient(180deg, rgba(216, 216, 216, 0.55), rgba(209, 209, 209, 0.35));
    backdrop-filter: blur(12px);

    border-bottom: 1px solid rgba(255, 255, 255, .12);
    padding-block: 1rem;

    position: fixed;
    top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
}

.primary-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;

    gap: 15px;

    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: hsl(294, 45%, 35%);

    font-weight: bold;
    font-size: 1.25rem;

    display: inline-flex;
    align-items: center;

    transform-origin: center;
    transition: transform .2s ease, text-shadow .2s ease;
}

.nav-links li a:hover {
    color: hsl(294, 25%, 39%);
}

.nav-links li a:active {
    transform: scale(0.9);
}

.menu-toggle {
    display: none;
}

.hamburger {
    display: none;

    height: clamp(40px, 6vw, 45px);
    width: clamp(40px, 6vw, 45px);

    align-items: center;
    justify-content: right;
    
    cursor: pointer;
}

.hamburger span,
.hamburger span::before,
.hamburger span::after {
    content: "";
    position: relative;
    display: block;
    
    width: 18px;
    height: 2px;
    background: var(--text-muted);
    
    transition: transform 0.25s ease, top 0.25s ease,
    background 0.25s ease;
    transform-origin: center;
}

.hamburger span::before {
    position: absolute;
    top: -6px;
}

.hamburger span::after {
    position: absolute;
    top: 6px;
}