.masthead {
    background-color: rgba(245, 245, 245, 0.9);
    padding: 1rem 0;
}

.primary-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: rgba(127, 18, 141, 0.788);
    font-weight: bold;
    font-size: 1.25rem;
}

.nav-links li a:hover {
    color: rgba(127, 18, 141, 0.459);
}