@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
        scrollbar-gutter: stable;
    }
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    background-color: var(--bg-dark);
}

main {
    flex: 1;
}