:root {
    /* Backgrounds */
    --bg-dark: hsl(0 0% 100%);
    --bg: hsl(0 0% 95%);
    --bg-light: hsl(0 0% 90%);

    /* Text */
    --text: hsl(0 0% 5%);
    --text-muted: hsl(0 0% 30%);

    /* Borders / UI */
    --border-subtle: hsl(0 0% 85%);
    --card-gradient: linear-gradient(500deg, #b700ff, #5b0a63);
}