.faq-container {
    display: grid;

    grid-template-columns: 1fr;
    gap: 1.5rem;

    margin-block: 50px;
}

.faq-item {
    display: flex;
    flex-direction: column;

    position: relative;

    height: auto;
    gap: 0.75rem;

    padding: 12px 0;

    border-bottom: 1px solid black;
}

.faq-item:last-child {
    border-bottom: 0;
}

.faq-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    height: 4px;
    width: 100%;
    background: var(--card-gradient);
    border-radius: 100px;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 200ms ease;
}

.faq-item:hover::after,
.faq-item.active::after {
    transform: scaleX(1);

    filter: drop-shadow(0 0 3px rgba(209, 117, 214, 0.788));
}

.faq-item:hover,
.faq-item.active {
    border-bottom-color: transparent;

    padding-inline: 10px;
    transition: padding-inline 400ms ease, border-bottom-color 400ms ease;
}

.faq-item:hover .faq-item-image,
.faq-item.active .faq-item-image {
    filter: drop-shadow(0 0 5px rgba(47, 26, 48, 0.541));
    transform: scale(1.02);
}

.faq-item-header {
    display: flex;

    gap: 1rem;

    height: 100px;

    justify-content: center;
    align-items: center;
}

.faq-item-image {
    height: 100%;
    width: auto;
    object-fit: contain;
    flex: 0 0 auto;

    transition: filter 250ms ease, transform 250ms ease;
    filter: none;
}

.faq-item-question {
    color: var(--text);

    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;

    margin-right: 10px;
}

.faq-toggle {
    margin-left: auto;

    padding: 0;

    color: var(--text-muted);
    font-size: 40px;

    border: 0;
    background: none;
}

.faq-item-text {
    margin: 0;
    padding: 0;

    color: var(--text-muted);
    font-size: 1.5rem;

    max-height: 0;

    overflow: hidden;
    opacity: 0;

    transform: translateY(-8px);
    transition: max-height .35s ease, opacity .25s ease, transform .25s ease;
}

.faq-item.active .faq-item-text {
    opacity: 1;
    transform: translateY(0);
}
