.section-product-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 100vh;
    width: auto;

    background-image: url("../../data/images/bg_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.section-2 {
    background-image: none;
}

.container-products {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 50px;

    margin-block: 100px auto;
}

.product-header {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    margin-block: 150px auto;
}

.product-header p {
    color: rgb(243, 250, 255);
    font-weight: bold; 

    margin: 5px;
    filter: drop-shadow(0 1px 3px rgba(49, 49, 49, 0.596));
}

.product-header-main {
    font-size: 3rem;
}

.product-header-second {
    font-size: 1.1rem;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 400px;
    width: 400px;

    margin-bottom: auto;

    backdrop-filter: blur(2px);
    background: linear-gradient(180deg, rgba(216, 216, 216, 0.466), rgba(61, 59, 62, 0.349));

    border: 1px solid rgba(255, 255, 255, .12);
    border-radius: 0.9rem;

    text-decoration: none;
    color: inherit;
    position: relative;
}

.image {
    filter: drop-shadow(0 7px 8px rgba(47, 26, 48, 0.541));

    padding: 20px;

    transition: filter 250ms ease, transform 250ms ease;
}

.item-text {
    display: flex;
    justify-content: center;

    margin-inline: 27%;

    transition: margin-inline 250ms ease;

    font-size: 2rem;
    font-weight: bold;
    
    color: rgb(237, 245, 250);

    backdrop-filter: blur(2px);

    filter: drop-shadow(0 0 9px rgba(47, 26, 48, 0.541));
    
    border: 1px solid rgba(255, 255, 255, .12);
    border-radius: 0.9rem;

    overflow: hidden;
}

.item-text p {
    margin-block: 7px;
    margin-inline: 7px;
}

.item-text::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(216, 216, 216, 0.466), rgba(155, 61, 179, .349));
    opacity: 1;
    transition: opacity .5s ease;
    z-index: -1;
}

.item-text::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(192, 192, 192, 0.13), rgb(94, 4, 117));
    opacity: 0;
    transition: opacity .5s ease;
    z-index: -1;
}

.text-stabil::before {
    background: linear-gradient(180deg, rgba(216, 216, 216, 0.452), rgba(48, 45, 207, 0.349));
}

.text-stabil::after {
    background: linear-gradient(180deg, rgba(216, 216, 216, 0.308), rgba(31, 102, 255, 0.788));
}

.item:hover {
    transition: transform 200ms ease;

    cursor: pointer;
}

.item:hover .image {
    transform: scale(1.08);
}

.item:hover .item-text::after,
.item:hover .text-stabil::before {
    opacity: 1;
}

.item:hover .item-text{
    margin-inline: 13%;
}