@media (max-width: 1480px) {
    
    .grid-item {
        padding-block: 1em 0em;
        padding-inline: 1em;
    }

    .grid-header {
        font-size: 1.8rem;
    }

    .item-product {
        height: 500px;
        width: 440px;

        padding-block: 1em 0em;
        padding-inline: 1em;
    }
    
    .item-name {
        font-size: 1.7em;
    }
    
    .item-description li {
        font-size: 1em;
    }
    
    .item-button {
        font-size: 0.8em;
    }
}

@media (max-width: 1200px) {
    .grid-products{
        gap: 2em;
    }

    .grid-item {
        padding-block: 1em 0em;
    }

    .grid-header {
        font-size: 1.5rem;
    }

    .item-product {
        height: 440px;
        width: 400px;
    }

    .item-description {
        font-size: 0.9em;
    }
}

@media (max-width: 910px) {
    .grid-products{
        gap: 1.5em;
    }

    .grid-item {
        padding-inline: 1em;
    }

    .grid-header {
        font-size: 1.3rem;
    }

    .item-product {
        height: 400px;
        width: 340px;
    }

    .item-name {
        font-size: 1.5em;
    }

    .item-description {
        font-size: 0.8em;
    }
}

@media (max-width: 798px) {
    .grid-products {
        grid-template-columns: 1fr;
    }

    .item-product {
        height: 400px;
        width: 360px;
    }

    .grid-header {
        font-size: 1rem;
    }

    .item-name {
        font-size: 1.4em;
    }

    .item-description {
        font-size: 0.8em;
    }

    .item-button {
        height: 35px;
        width: 100px;

        bottom: -1.8em;

        font-size: 0.8em;
        margin: 0.5em;
    }
}