@media (max-width: 1480px) {
    .nav-links li a, .primary-nav img {
        font-size: 1.2rem;
        height: 60px;
    }
}

@media (max-width: 1200px) {
    .nav-links li a,
        .primary-nav img {
            font-size: 1rem;
            height: 50px;
        }
}

@media (max-width: 910px) {}

@media (max-width: 798px) {
    .nav-links li a,
        .primary-nav img {
            font-size: 1rem;
            height: 50px;
        }
}